body {
  color: #2e2f42;
}
.klick {
  font-family: roboto;
  width: semibold;
  size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  cursor: pointer;
  background: #4d5ae5;
}
.klick:hover {
  background-color: blue;
}
.klick:focus {
  color: white;
}
.contacts:hover,
:focus {
  color: #434455;
}
.links {
  font-family: roboto;
  width: semibold;
  size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #4d5ae5;
}
